.error-display {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.error-img {
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

.error-txt {
	width: 100%;
	text-align: center;
}